.descriptionContainer {
  margin-left: 5vw;
}

.tutorialContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.explanationsContainer {
  width: 100%;
  grid-column: 1;
}


.miniVisual {
  grid-column: 2;
  width: 100%;
  height: 100%;
}