.descriptionContainer {
  margin-left: 5vw;
  margin-bottom: 5vh;
}

.tutorialContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.explanationsContainer {
  width: 100%;
  grid-column: 1;
}


.miniVisual {
  grid-column: 2;
  width: min(80%, 30vw);
  margin: auto;
  display: block;
  align-self: center;
}