div#main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div#matrix-container {
  width: 80%;
  order: 1;
  height: 100vh;
  overflow-y: scroll;
}

aside {
  width: 20%;
  order: 2;
  height: fit-content;
  position: sticky;
  top: 0px;
  * {
    font: 15px monospace;
    position: sticky;
    top: 0px;
  }
}

.metric-matrix-header {
  position: sticky;
  top: 0px;
  left: 0px;
  font: 12px sans-serif;
}

.metric-matrix-header > rect.bg {
  fill: white;
  fill-opacity: 0.9;
  height: 100%;
}

g.per-dataset > text {
  font-size: large;
  font-weight: bold;
  text-anchor: start;
}

rect.metric-callout {
  stroke: #000;
  stroke-width: 5;
  fill: transparent;
  pointer-events: none;
}

.metric-ref-val,
.metric-delta-val {
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  div#main-container {
    flex-direction: column;
    height: 100vh;
  }

  aside {
    order: 1;
    width: 100%;
    flex: 0 1 0%;
    top: 0px;
  }

  div#matrix-container {
    order: 2;
    width: 100%;
    flex: 1 1 50%;
  }
}
