.mainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.matrixContainer {
  width: 80%;
  order: 1;
  height: 90vh;
  overflow-y: scroll;
}

.aside {
  display: grid;
  width: 20%;
  order: 2;
  height: fit-content;
  /* position: sticky; */
  top: 0px;
}

.metricMatrixHeader {
  position: sticky;
  top: 0px;
  left: 0px;
  font: 12px sans-serif;
}

.headerBackgroundRect {
  fill: white;
  fill-opacity: 0.9;
  height: 100%;
}

.datasetName {
  font-size: large;
  font-weight: bold;
  text-anchor: start;
}

.metricCallout {
  stroke: #000;
  stroke-width: 5;
  fill: transparent;
  pointer-events: none;
}

.metricRefVal,
.metricDeltaVal {
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  .mainContainer {
    flex-direction: column;
    height: 90vh;
  }

  .aside {
    order: 1;
    width: 100%;
    flex: 0 1 0%;
    /* top: 0px; */
  }

  .matrixContainer {
    order: 2;
    width: 100%;
    flex: 1 1 50%;
  }
}
