div#postprocess-part {
  display: flex;
  flex-direction: row;
}
div.paramsPanel {
  margin-left: 1em;
  margin-right: 1em;
  * {
    font: 15px monospace;
  }
}
div.paramsPanel > div {
  width: max-content;
}

div#postprocmatrix-container {
  height: fit-content;
  width: 100vw;
}

svg#postprocmatrix {
  width: auto;
}

div#key-postproc {
  display: flex;
  flex-direction: row;
  > * {
    position: relative;
    width: 20%;
  }
}

@media only screen and (max-width: 600px) {
  div#postprocess-part {
    flex-direction: column;
  }
  div#postprocmatrix-container {
    width: 100vw;
    overflow-x: scroll;
    order: 2;
  }
  div#postprocmatrix-container > svg#postprocmatrix {
    height: 20vh;
    order: 1;
  }
}
